[Unit]
SourcePath=/etc/rc.d/init.d/rb-exporter
Description=redBorder Exporter Service
Requires=network.target
After=network.target

[Service]
Type=forking
TimeoutSec=30
IgnoreSIGPIPE=no
GuessMainPID=no
RemainAfterExit=yes
Restart=no
KillMode=process

ExecStart=/etc/rc.d/init.d/rb-exporter start
ExecStop=/etc/rc.d/init.d/rb-exporter stop
