[Unit]
Description=redBorder Exporter (native pmacctd)
After=network.target
Requires=network.target

StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple

ExecStart=/usr/sbin/pmacctd -f /etc/rb-exporter/enp0s8/rb-exporter.conf

Restart=on-failure
RestartSec=5s

KillMode=control-group
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target